<a href="https://colab.research.google.com/github/githubsaniya924/Hypothesis_Testing/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Generate Synthetic Data**

**1.Create a dataset of 100 random integers between 1 and 100**

In [ ]:
import random
dataset1 = [random.randint(1,100) for i in range(100)] #uniform data

In [ ]:
print(dataset1)

[68, 24, 48, 63, 25, 52, 13, 40, 56, 17, 12, 8, 83, 87, 61, 3, 10, 90, 82, 90, 5, 97, 23, 83, 38, 82, 36, 12, 98, 18, 12, 61, 17, 26, 22, 94, 36, 40, 94, 34, 35, 84, 38, 68, 87, 69, 57, 44, 33, 94, 94, 89, 5, 19, 65, 36, 88, 93, 90, 1, 96, 48, 67, 88, 3, 88, 54, 10, 77, 84, 48, 74, 39, 37, 64, 74, 6, 4, 3, 62, 22, 6, 12, 75, 2, 39, 43, 40, 22, 11, 20, 96, 93, 86, 9, 34, 50, 57, 82, 6]

**2.Create a second dataset of 100 random integers between 1 and 100, with a different distribution.**

In [ ]:
import numpy as np
dataset2 = np.random.normal(loc=50, scale=15, size=100)
#loc=50 sets the mean (average) of the distribution to 50.
#scale=15 sets the standard deviation to 15, which controls the spread of the distribution. A larger standard deviation means values are more spread out from the mean.

dataset2 = np.clip(dataset2, 1, 100).astype(int) #defines the spread from 1 to 100

print(dataset2)

[28 28 50 52 44 65 46 46 47 54 77 31 42 53 74 68 12 74 75 35 73 32 57 59
 42 70 51 57 56 44 37 59 78 72 62 41 62 81 57 64 53 44 61 52 51 53 61 62
 29 40 41 56 61 42 41 35 72 49 42 54 59 55 34 49 61 38 37 65 55 47 58 55
 47 47 69 36 40 18 84 45 32 65 49 66 43 57 66 54 48 49 70 33 72 65 51 58
 64 40 68 30]

# **2.Calculate Descriptive Statistics**

**1.Write functions to calculate the mean, median, and mode of a dataset.**

In [ ]:
import statistics as st
# using the in-built methods to derive the mean, median and mode
mean1 = np.mean(dataset1)
median1 = np.median(dataset1)
mode1 = st.mode(dataset1)

print(mean1)
print(median1)
print(mode1)

print('--------------------')

# using functions to derive the mean,median and mode

def find_mean(dataset1):
    mean_value = sum(dataset1)/len(dataset1)
    return mean_value

def find_median(dataset1):
  dataset1.sort()

  n = len(dataset1)

  if n%2 == 0:
    median = (dataset1[n//2-1] + dataset1[n//2])/2
    return median
  else:
    median = (dataset1[n/2])
    return median

def find_mode(dataset1):
   max_count = 0
   mode=0
   for i in range(len(dataset1)):
        c = 0
        for j in range(len(dataset1)):
            if dataset1[i] == dataset1[j]:
                c += 1
        if c > max_count:
            max_count = c
            mode = dataset1[i]

   return mode

print(find_mean(dataset1))
print(find_median(dataset1))
print(find_mode(dataset1))

48.8
46.0
12
--------------------
48.8
46.0
12

# **3.Hypothesis Testing:**

Formulate null and alternative hypotheses to test if the mean of the dataset is significantly different from a hypothetical mean.

In [ ]:
mean = 42 #Hypothetical mean

#Research question - Is the mean of the dataset significantly different or not.
#H0 - The mean is not different from x.
#Ha - The mean is different from x.
import scipy
from scipy.stats import ttest_1samp

ttest_1samp(a=dataset1,popmean=42)

TtestResult(statistic=2.1549903017039878, pvalue=0.033587563068115917, df=99)

In [ ]:
#pvalue=0.033587563068115917
#The pvalue < 0.05 so, we can safely reject the null hypothesis.
#Our result is significant
#Here we can say that the inference derived from the sample is the inference for the population.

#if the pvalue<0.05 then we can measure the effect size.

In [ ]:
m = np.mean(dataset1)
sd = np.std(dataset1)

temp = (m-mean)/sd

cohen_d = abs(temp*2**0.5)

cohen_d

0.3062969840417889

In [ ]:
if cohen_d < 0.2:
  print('Negligible')
elif cohen_d < 0.5:
  print('small')
elif cohen_d <0.8:
  print('medium')
else:
  print('large')

small

# **4.Binomial Test:**

In [ ]:
#Perform a binomial test to check if the proportion of even numbers in the first dataset is significantly different from 0.5.
even_data=[]
for i in range(0,len(dataset1)):
  if dataset1[i]%2 == 0:
    even_data.append(dataset1[i])
  else:
      continue

print(len(even_data))

import scipy
from scipy.stats import binomtest

binomtest(k=62,n=100,p=0.5)

62

BinomTestResult(k=62, n=100, alternative='two-sided', statistic=0.62, pvalue=0.02097873567785172)

In [ ]:
#pvalue=0.02097873567785172

#pvalue<0.05
#Therefore we can safely reject the null hypothesis
#Our result is significant

# **5.T-Test**

In [ ]:
#Perform a t-test to compare the mean of the first dataset is significantly different from hypothetical mean.
#Print the t-statistic and p-value, and interpret the result.

from scipy.stats import ttest_1samp
ttest_1samp(a=dataset1,popmean=66)

TtestResult(statistic=-5.4508578219571495, pvalue=3.680213428997682e-07, df=99)

In [ ]:
# pvalue=3.680213428997682e-07
# pvalue < 0.05, So we can safely reject the null hypothesis
# Our result is significant

# **6.Wilcoxon Test**

In [ ]:
# Perform a Wilcoxon rank-sum test to compare the median of the first dataset is different from hypothetical median.
# Print the test statistic and p-value, and interpret the result.
# Research question- the median value of data is equal to X ?

# H0 - The median value is not different from x(hypotheical median)
# Ha - The median value is different from x(hypotheical median)
import pandas as pd
data = pd.read_csv('GSS2012a.csv')

<ipython-input-52-bb465ff79abc>:8: DtypeWarning: Columns (11,115,123,187,274,284,287,288,290,291,292,397,585,595,628,632) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('GSS2012a.csv')

In [ ]:
ordinal_data = data['accntsci']
ordinal_data.value_counts()

accntsci
Not too scientific       348
Not scientific at all    307
Pretty scientific        199
Very scientific          100
Name: count, dtype: int64

In [ ]:
#replace these four words into code
ordinal_data.value_counts().index

Index(['Not too scientific', 'Not scientific at all', 'Pretty scientific',
       'Very scientific'],
      dtype='object', name='accntsci')

In [ ]:
ordinal_data = ordinal_data.replace({'Not too scientific':1,
                                     'Not scientific at all':0,
                                     'Pretty scientific':2,
                                     'Very scientific':3})

<ipython-input-55-155d3af154de>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ordinal_data = ordinal_data.replace({'Not too scientific':1,

In [ ]:
from scipy.stats import wilcoxon

x=2.5 #ypothetical mean

ordinal_data =ordinal_data.dropna()

wilcoxon(ordinal_data-5.0,zero_method='wilcox')

WilcoxonResult(statistic=0.0, pvalue=2.297689656896499e-161)

In [ ]:
# pvalue<0.05
#pvalue=2.297689656896499e-161  is very very less than 0.05
#this means that the null hypothesis can be safely rejected and the alternate hypothesis is likely true
#From the sample we are inferning the population
#Because the pvalue is less than 0.05 we can say that even the population id following the inference i.e the median value is different from x.

# **7.Pearson Goodness of Fit Test:**

In [ ]:
#Perform a Pearson goodness of fit test to check if the distribution of numbers in the first dataset fits a uniform distribution.
#Print the test statistic and p-value, and interpret the result.

In [ ]:
student_data = pd.read_csv('StudentStatistics.csv',sep=';')

In [ ]:
student_data['Location'].value_counts()

Location
Haarlem      22
Diemen       17
Rotterdam    16
Name: count, dtype: int64

In [ ]:
from scipy.stats import chisquare
chisquare(student_data['Location'].value_counts())

Power_divergenceResult(statistic=1.1272727272727274, pvalue=0.5691357119956006)

In [ ]:
#pvalue=0.5691357119956006
#here the pvalue > 0.05
#therefore we cannot reject the null hypothesis

# **8.Error Types:**

In [ ]:
#Explain and provide an example of Type-1 and Type-2 errors in the context of the t-test performed.

'''
Type-1 Error: This error occurs when we reject the true null hypothesis.
This happens when you think there is a difference or effect, but there actually isn’t.
Here, we reject the null hypothesis test.

Using the ttest in type-1 error:
Example- The new study strtergy has lead to increse in scores of the students than the previous scores. Here, there is
differnce in the scores

H0 - no difference in the score.
Ha - difference in the score.


Type-2 Error: This error occurs when we accept the false null hypothesis.
Here, we conclude that there is no statistically significant difference when there actually is one.
This means that we don't reject the null hypothesis.
Here, we say there is no difference.

Using the ttest in type-1 error:
Example- Using the same study method test, if the new method really helps students score better but your test
fails to show it, you’ve made a Type-2 error.


'''